label {
  color: #031f25; }

.body-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../resources/img/background-photo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-container {
  background-color: #cbd8d6;
  width: 400px;
  height: 535px;
  box-shadow: 0 0 20px #031f25;
  padding: 20px; }
  .login-container .img-login {
    width: 250px;
    height: 250px;
    border-radius: 50%; }
  .login-container button {
    width: 100%; }
