.body-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../resources/img/background-photo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: $ui-color-3;
    width: 400px;
    height: 535px;
    box-shadow: 0 0 20px $ui-color-1;
    padding: 20px;

    .img-login {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    button {
        width: 100%;
    }
}

